.container {
    margin: 60px auto;
    background: rgb(247, 244, 244);
    padding: 0;
    border-radius: 7px;
  }
  
  
  
  input {
    
    width: 80%;
  }
  input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 0px;
  }
  input:focus {
    outline: none;
  }
  
  
  
  
  .chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
  }
  .chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  .chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
  }
  .chat-bubble--right:after {
    right: 0;
    border-left-color: #f5f6f7;
    border-right: 0;
    margin-right: -2px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .offset-md-9 .chat-bubble {
    background: #f8f9fa;
    color: rgb(255, 255, 255);
  }
  
  .chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin-top: 19px;
    bottom: 0;
  }
  .chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
  }
  .chat-box-tray i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;
  }
  .chat-box-tray i:last-of-type {
    margin-left: 25px;
  }
  
  